#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: left;
}

.App {
  width: 100%;
  min-height: 100vh;
  font-family: "Nanum Gothic", sans-serif;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  padding-left: 40px;
  padding-top: 60px;
  box-sizing: border-box;

  gap: 20px;
}

.emotion-img {
  width: 120px;
  height: 120px;
}

.smile {
  width: 180px;
  height: 180px;
  background-color: #5ecb5e;
  border-radius: 50%;
  position: relative;
}

.eye {
  width: 24px;
  height: 24px;
  background-color: #3b773d;
  border-radius: 50%;
  position: absolute;
  top: 60px;
}

.left-eye {
  left: 55px;
}

.right-eye {
  right: 55px;
}

.mouth {
  width: 100px;
  height: 50px;
  background-color: #3b773d;
  position: absolute;
  left: 50%;
  top: 105px;
  transform: translateX(-50%);
  border-radius: 0 0 60px 60px;
}